<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Muse App</a>
    </div>

    <form class="navbar-form navbar-left" action='/api/new/book' method=POST>
      <div class="form-group">
        <input name="name" class="form-control" placeholder="Add Book Name">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</nav>

<div class="row" id="movies-container">
  {{#each dbBooks}}

  <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12" id="movie-box">
    <div class="box gallery">
      <div class="card">
        <img class="img-responsive" id="new-movies" src={{this.book_imageLinks}}>
        {{!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Click Here</button> --}}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable{{this.id}}">
          click here
        </button>


        <div class="modal fade" id="exampleModalScrollable{{this.id}}" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">{{this.book_title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>

              </div>
              <div class="modal-body" >
                <img class="img-responsive" id="new-movies" "height: 15%" src={{this.book_imageLinks}}>
                {{!-- <p><strong>Subtitle: </strong>{{this.book_subtitle}}</p> --}}
                <p><strong>Authors: </strong>{{this.book_authors}}</p>
                <p><strong>Discription: </strong>{{this.book_description}}</p>
                 
                 <a href={{this.book_buyLink}} class="button-hover-reveal">Buy Link</a>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
              </div>
            </div>
          </div>
        </div>

<div class="info">
  <div class="foot">
    {{!-- <p  class="movie-title">{{this.movie_name}}</p> --}}
     <p><strong>Title: </strong>{{this.book_title }}</p>
    {{!-- <i class="line"></i>
     <p><strong>Run Time: </strong>{{this.movie_time}}</p> --}}
  
  </div>
</div>
      </div>
    </div>
  </div>
  {{/each}}
</div>







